html {
  box-sizing: border-box;
}

body {
  background: #ffe2d3;
  font-family: 'Open Sans', sans-serif;
  padding-left: 50px;
}
.content {
  display: grid; 
  grid-template-columns: 1fr;
}
.header {
 
}

h1 {
  font-size: 100px;
  color: white;
}
h2 {
  color: white;
  font-size: 25px;
}
h3 {
  color: #473927;
}
p {
  color: #473927;
}
.article {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 2em;
  padding-bottom: 5em;
  padding-right: 2em;
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

 #supplies {
    border-radius: 50%;
    width: 150px;
    height: auto;
    justify-items: center;
}
img {
    width: auto;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px .5px rgba(0,0,0,0.5);
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
  justify-items: center;
}

@media (max-width: 375px) {
  body {
    padding-right: 50px;
    padding-left: 0px;
  }
  .content {
    display: block;
  }
  h1 { 
    word-wrap: break-word;
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
  .images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: center; 
  padding-right: 50px;
  max-width: 50%;
    height: auto;
}

footer {
  display: block;
}
.header {
  width: 100%;
}
.article {
  display: block;
}
#supplies {
  display: none;
}
}
  
  
  